# ====== MacOS ====== #
.DS_Store

# ====== VSCode ====== #
#*.code-workspace
.vscode

# ====== Data ====== #
data
MNIST
*output*

# ====== Python ====== #
*.pyc
__pycache__

# ====== Tensorboard ====== #
tb_runs
runs


