<!--
Created Date: Monday, September 16th 2019, 6:56:22 pm
Author: Charlene Leong leongchar@myvuw.ac.nz
Last Modified: Sat Oct 12 2019
-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>KUN 鯤</title>
    <!-- meta -->
    <meta name="author" content="Charlene Leong">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link id='theme' rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">

    <!-- Menu -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    
    <!-- Progress bar  -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">

    <!-- Upload -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Page -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen"> 
    
    {% block css %}{% endblock %}
</head>

<!-- Pre-loading  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
    $(window).load(function() {
        $(".page-loader").fadeOut("slow");
    });
</script>

<div class="common">
    <body>
        <div class="page-loader"></div>
        <div id='page-container'>
            <header class="sticky row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <a href="https://gitlab.ecs.vuw.ac.nz/leongchar/kun" class="button">Gitlab</a>
                    <a href="https://gitlab.ecs.vuw.ac.nz/leongchar/kun/wikis/home" class="button" target="_blank">Wiki</a>
                    <a href="https://www.overleaf.com/read/bckkvcbpbxbr" class="button" target="_blank">Project Proposal</a>
                    <button id="load" type="button" class="btn btn-primary">Load</a></button>
                    <button id="train" type="button" class="btn btn-primary">Train</a></button>
                    <button id="cluster" type="button" class="btn btn-primary">Cluster</a></button>
                    <button id="som" type="button" class="btn btn-primary">SOM</a></button>
                </div>

                <!-- Switch theme -->
                <div class='switch-theme'>
                    <label class="switch">
                      <input type="checkbox" id="toggle_theme">
                      <div class="slider round"></div>
                    </label>
                </div>
                <script>
                    let darkTheme = "https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css"
                    let lightTheme = "https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-nord.min.css"
                    $('#toggle_theme').click(function() {
                        if ($("link[id='theme']").attr('href') == darkTheme) {
                            $("link[id='theme']").attr('href', lightTheme);
                        } else {
                            $("link[id='theme']").attr('href', darkTheme);
                        }
                    });
                </script>
            </header>
            <div class="progress-bar-wrap w3-light-grey ">
                    <div id='progress-bar' class="w3-win8-red" style="height:4px;width:100%"></div>
            </div>
            <div class="epoch-progress-bar-wrap w3-light-grey hide">
                    <div id='epoch-progress-bar' class="w3-red" style="height:4px;width:0%"></div>
            </div>
            <div id='content-wrap'>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <br />
                        <h1><b>[ KUN 鯤 ]</b></h1>
                        <!-- <p id='instruct'>Please identify the <b>incorrect</b> characters<p> -->
                        <p id='instruct' class='show'><p><br/>
                        
                        <form id ='dropzone-upload' class="dropzone"  method="POST" action="upload"  enctype="multipart/form-data">
                            <div class="dz-message">
                                <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                            </div>
                        </form>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                        <!-- <button id="upload-btn" type="button" class="btn btn-primary">Upload</a></button> -->
                    </div>
                </div>

                <script>// DropzoneJS misbehaving with Jinja so have to put in _base
                    if ('{{LABEL}}'===''){  
                        $('#instruct').html('Please upload a zip file with the label as filename. <br/> \
                                Accepted filetypes <b> [ .png ]<b> ')
                    }else{
                        $('#dropzone-upload').hide()
                    }  
                </script>
                
                <div class="container">{% block content %}{% endblock %}</div>

                <div class="container">{% block tasks %}{% endblock %}</div>

                <!-- <div class='row'>
    <div class="col-sm col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-4">
      <p style="text-align: center;">Non-exhaustive list of functionalities that could be added.</p>
      <div class="card fluid" style=" width: 100%;">
        <ul style="text-align: left;">
          <small>Hyperparameter optimization ; Neural network pruning ;</small>
          <small>Model versioning ; Load balancer in a cluster ;</small>
          <small>Add correction and submit options - Re-train ...</small>
        </ul>
      </div>
    </div>
  </div> -->
                </br>
                <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
                <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
                <script src="{{ url_for('static', filename='js/index.js') }}"></script>
                <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
                <script src="{{ url_for('static', filename='js/dropzone_config.js') }}"></script>
                {% block js %}{% endblock %}
            </div>
            <footer id='footer'>
                <a href="https://www.victoria.ac.nz/wtapress"> Waiteata Press</a> | Charlene Leong | &copy; 2019
            </footer>
        </div>
    </body>

</div>