<!--
Created Date: Monday, September 16th 2019, 6:56:22 pm
Author: Charlene Leong leongchar@myvuw.ac.nz
Last Modified: Tue Sep 24 2019
-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Kun</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link id='theme' rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen"> {% block css %}{% endblock %}
</head>

<!-- Pre-loading  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
    $(window).load(function() {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
    });
</script>

<div class="common">

    <body>
        <div class="se-pre-con"></div>
        <div id='page-container'>
            <header class="sticky row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <a href="https://gitlab.ecs.vuw.ac.nz/leongchar/kun" class="button">Gitlab</a>
                    <a href="https://gitlab.ecs.vuw.ac.nz/leongchar/kun/wikis/home" class="button" target="_blank">Wiki</a>
                    <a href="https://www.overleaf.com/read/bckkvcbpbxbr" class="button" target="_blank">Project Proposal</a>
                    <button id="upload" type="button" class="btn btn-primary">Upload</a></button>
                </div>

                <!-- Switch theme -->
                <div class='switchbox'>
                    <label class="switch">
                      <input type="checkbox" id="toggle_theme">
                      <div class="slider round"></div>
                    </label>
                </div>
                <script>
                    var darkTheme = "https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css"
                    var lightTheme = "https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-nord.min.css"
                    $('#toggle_theme').click(function() {
                        if ($("link[id='theme']").attr('href') == darkTheme) {
                            $("link[id='theme']").attr('href', lightTheme);
                        } else {
                            $("link[id='theme']").attr('href', darkTheme);
                        }
                    });
                </script>
            </header>

            <div id='content-wrap'>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <br />
                        <h1>Kun Test<small>MNIST</small></h1>
                        <p>Please identify the <b>incorrect</b> characters
                            <p>
                                </br>
                    </div>
                </div>
                <div class="container">{% block content %}{% endblock %}</div>

                <!-- <div class="container">{% block tasks %}{% endblock %}</div>
  </br> -->
                <!-- <div class='row'>
    <div class="col-sm col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-4">
      <p style="text-align: center;">Non-exhaustive list of functionalities that could be added.</p>
      <div class="card fluid" style=" width: 100%;">
        <ul style="text-align: left;">
          <small>Hyperparameter optimization ; Neural network pruning ;</small>
          <small>Model versioning ; Load balancer in a cluster ;</small>
          <small>Add correction and submit options - Re-train...</small>
        </ul>
      </div>
    </div>
  </div> -->

                <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
                <script src="{{ url_for('static', filename='js/index.js') }}"></script>
                {% block js %}{% endblock %}
            </div>
            <footer id='footer'>
                <a href="https://www.victoria.ac.nz/wtapress"> Waiteata Press</a> | Charlene Leong | &copy; 2019
            </footer>
        </div>
    </body>

</div>