
# ====== Node ====== #
node_modules


# ====== DB ====== #
*.rdb
*.db

# ====== Test files ====== #
*test*

# ====== Image dirs ====== #
*imgs*

# ====== Docs ====== #
*.gif
*.mov

# ====== Uploads ====== #
*.zip
