/*
* Created Date: Thursday, September 5th 2019, 10:45:18 pm
* Author: Charlene Leong leongchar@myvuw.ac.nz
* Last Modified: Thu Sep 05 2019
*/

.column {
    position: relative;
    float: left;
    /* min-height: 1px; */
    width: 5%;
    /* height: 5%; */
    padding-left: 4px;
    padding-right: 4px;
    /* Space between tiles */
    margin-top: 8px;
}

.col-span {
    width: 50%;
}

.my-sizer-element {
    width: 8.33333%;
}

.img-grd {
    position: relative;
    overflow: hidden;
}

.shuffle-grd figure.selected {
    filter: brightness(20%);
}

.shade {
    opacity: 0.2
}

.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img {
    visibility: visible;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

img:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

figure {
    margin: 0;
    padding: 0;
}

.hide {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    -moz-transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    -o-transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.hide .shade{
    opacity:0.2
}

.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.selection {
    background: rgba(255, 0, 0, 0.1);
    border-radius: 0.1em;
    border: 0.05em solid rgba(255, 0, 0, 0.2);
}

.loading {
    background: transparent url('loading.gif') center no-repeat;
}

.fadeout {
    -webkit-animation: fadeout 4s linear forwards;
    -moz-animation: fadeout 4s linear forwards;
    -o-animation: fadeout 4s linear forwards;
    animation: fadeout 4s linear forwards;
}

@-webkit-keyframes fadeout {
    0%,
    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0%,
    100% {
        opacity: 0;
    }
}

.fadein {
    -webkit-animation: fadein 4s linear forwards;
    -moz-animation: fadein 4s linear forwards;
    -o-animation: fadein 4s linear forwards;
    animation: fadein 4s linear forwards;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

