/*
 * Created Date: Saturday, September 21st 2019, 7:22:08 pm
 * Author: Charlene Leong leongchar@myvuw.ac.nz
 * Last Modified: Mon Sep 23 2019
 */


 .common {
    text-align: center;
}

* { box-sizing: border-box; }


.container {
    width: 93%;
    margin: auto;
}

.grid {
    height: 75%; /* inherit height from body */
  }

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
.grid-sizer,
.grid-item {
    float: left;
    width: 5%;
    height: 5%;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
}

