/*
 * Created Date: Saturday, September 21st 2019, 7:22:08 pm
 * Author: Charlene Leong leongchar@myvuw.ac.nz
 * Last Modified: Tue Sep 24 2019
 */


/******** PAGE CONTENT ********/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    /* Footer height */
}

.common {
    text-align: center;
}

.container {
    width: 93%;
    margin: auto;
}

* {
    box-sizing: border-box;
}


/* Small reset */

*,
 ::before,
 ::after {
    box-sizing: border-box;
}


/******** PAGE LOADER ********/

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loading.gif') center no-repeat #fff;
}