[Desktop Entry]
Icon=application-vnd.google-apps.spreadsheet
Name=Project Timeline - Gantt Chart
Type=Link
URL=https://docs.google.com/spreadsheets/d/1jovBXRqZ2LdFsO3m_Y2bbCjs2La5hlhkEFjUMAwEbtU/edit?usp=drivesdk
