doctype html
include shuffle_grid

head
  link(rel='stylesheet', href='https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-nord.min.css')
  link(rel='stylesheet', href='./static/style.css')
  link(rel='stylesheet', href='./static/shufflejs.css')
  meta(charset='UTF-8')
  title Kun
.common
  header.sticky.row
    .col-sm-12.col-md-10.col-md-offset-1
      a.button(href='https://gitlab.ecs.vuw.ac.nz/leongchar/kun') Gitlab
      a.button(href='https://gitlab.ecs.vuw.ac.nz/leongchar/kun/wikis/home', target='_blank') Wiki
      a.button(href='https://www.overleaf.com/read/bckkvcbpbxbr', target='_blank') Project Proposal
  .row
    .col-sm-12.col-md-10.col-md-offset-1
      br
      h1
        | Kun Test
        small MNIST
      p Please identify the incorrect characters
      p
        br
    +shuffle_grid
  // Shuffle JS Template
  p Non-exhaustive list of functionalities that could be added.
  .col-sm.col-md-8.col-md-offset-2.col-lg-5.col-lg-offset-4.row(style='text-align: center;')
    .card.fluid(style=' width: 80%;')
      ul(style='text-align: left;')
        small Hyperparameter optimization ; Neural network pruning ;
        small Center and crop image ; Show top-n predictions ;
        small Model versioning ; Load balancer in a cluster ;
        small Add correction and submit options - Re-train...
  .container(style='height: 8rem; position: relative;')
    span.toast.doc(style='position: absolute;')
      a(href='https://www.victoria.ac.nz/wtapress')  Waiteata Press
      |  | Charlene Leong | &copy; 2019
  script(src='./static/index.js')
  
  